
        body {
            font-family: Ubuntu, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .container {
            width: 90%;
            margin: auto;
        }
        header {
            background: #327da8;
            color: white;
            padding: 10px 0;
            min-height: 70px;
            border-bottom: #e8491d 3px solid;
        }
        header h1 {
            margin: 0;
            padding: 0;
        }
        nav {
            padding: 20px 0;
            background: #333;
        }
        nav ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        nav ul li {
            display: inline;
            margin-right: 10px;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 8px;
            background-color: #d1edff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        th, td {
            padding: 3px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #e8f3fa;
        }
        td img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 8px;
        }
        #bio img {
            width: 200px;
            float: left;
            margin-right: 10px;
        }
        #bio:after {
            content: "";
            display: table;
            clear: both;
        }
        .box {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 300px;
            height: 200px;
            align-content: space-between;
        }
        h3 a {
            color: inherit; /* Цвет ссылки такой же, как у текста */
            text-decoration: none; /* Убираем подчеркивание */
        }

        h3 a:hover {
            text-decoration: underline; /* Подчеркивание при наведении */
        }

